/* NProgress Custom Styles */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #1D4ED8;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #1D4ED8, 0 0 5px #1D4ED8;
    opacity: 1;
    transform: rotate(3deg) translate(0px, -4px);
}

/* Loading ke time page thoda dim */
.nprogress-busy {
    cursor: wait;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}